<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= tree.english_name%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://miamioh.edu/stylesheets/universal.css?v=201904231530" type="text/css">    
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div class="container">                                 
        <header class="col-sm-12 titleFirst" role="banner">
            <hgroup>
                <div>
                    <a href="/"><span class="siteLogo"><img src="https://miamioh.edu/_files/images/logos/logo.png" class="hide-for-medium" alt="Miami University Oxford, Ohio 1809" width="100%" /> <img src="https://miamioh.edu/_files/images/logos/logomobile.png" class="show-for-medium" alt="Miami University Oxford, Ohio 1809" width="50%" /> <span class="visuallyhidden">Miami University Oxford, Ohio est. 1809</span></span> </a>         
                </div>
            </hgroup>
            <nav aria-label="Resources" class="ctaNavigation" role="navigation">
                <ul>
                    <li> <a href="https://mymiami.miamioh.edu"> myMiami </a> </li>
                    <li> <a href="https://www.forloveandhonor.org/givetomyaamia"> Give to Myaamia Center </a> </li>
                </ul>
            </nav>
            <div aria-label="University" class="searchContainer" role="search">
                <button aria-label="Close Search" class="icon-close" id="searchClose"> <span class="sr-only">close</span></button>
                <form action="/search" class="searchForm" id="siteSearch" method="post" name="search">
                <input aria-label="Search" class="inputField" id="search-input" name="q" placeholder="Search Trees" type="search"/>
                <input alt="Search" aria-label="Search" class="inputButton" name="q" src="https://miamioh.edu/_files/icons/search-white.png" type="image"/>
                </form>
            </div>
            <h1 class="departmentName col-sm-6 col-sm-push-3">
                <a href="/">Myaamia Trees</a>
            </h1>  
            <button aria-label="Toggle Menu" class="icon-menu" id="menuToggle"> menu </button>
            <button aria-label="Toggle Search" class="icon-search" id="searchToggle"> search </button>
            <nav aria-label="Primary" class="primaryNavigation menu" role="navigation">
            <button aria-label="Close" class="icon-close" id="menuClose"><span class="sr-only">close</span> </button>
            <ul aria-hidden="false" class="primaryNav col-sm-9 col-sm-push-3 nav level-1 list-reset" role="menubar">
                <li role="presentation">
                    <a href="/" role="menuitem" > Map </a>
                </li>
                <li role="presentation">
                        <a href="/trees" role="menuitem" > Trees </a>
                    </li>                 
                <li role="presentation">
                    <a href="https://miamioh.edu/myaamia-center/index.html" role="menuitem" > Myaamia Center </a>
                </li>
            </ul>
        </header>
        <div class="clearfix"></div>
        <main>
            <header>
                <h1 class="col-sm-12" style="text-align: center;"><%=tree.english_name%></h1>
            </header>
            <section class="colPrimary col-xs-12">
                <div class="content removepadding col-sm-12">
                    <div class="contentRow row">
                        <section class="col-md-6 defaultSlotStyle">
                            <div class="imageContainer">
                                <img src="<%=tree.img%>" alt="<%=tree.english_name%>" class="noEffect">
                            </div>
                        </section>
                        <section class="col-md-6 defaultSlotStyle">
                            <div>
                                <h6>Myaamia name : <%=tree.myaamia_name%></h6>
                                <h6>Latin name : <%=tree.latin_name%></h6>
                                <p><%=tree.description%></p>
                                <a href="https://www.google.com/maps/search/<%=tree.location%>" class="whiteCalloutButton">Find it on the map</a>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </main>
        <footer>
                <div>
                    <div class="secondaryFooter row">
                        <section class="col-sm-12 ">
                            <h1 class="col-md-4">The Myaamia Center</h1>
                            <div class="tabsForAllSizes oneTab ">
                                <div class="tabsContent col-sm-12">
                                    
                                    <article id="55e0e1e1ac1e00c969ba9de265ad8e45-1">
                                        <img alt="" class="secondaryFooterThumbnail col-sm-2" src="//miamioh.edu/_files/images/miami-tribe-relations/bonham-house-380x320.jpg" />                                                                                                        <div class="additionalContent col-sm-5">
                                            
                                            <p>Deepening Myaamia connections through research, education, and outreach.</p>
                                            <p>351 E Spring St<br /> 200 Bonham House<br /> Miami University<br /> Oxford, OH 45056</p>
                                            <p>(513) 529-5648 (Phone)<br /> (513) 529-9234 (Fax)</p>
                                        </div>
                                        <div class="additionalContent col-sm-5">
                                            
                                            <div>
                                                <div style="float: left; width: 25%;"><a class="leftImage" href="https://www.facebook.com/MyaamiaCenter/" type="image"><img alt="Myaamia Center Facebook" class="footerSocialMediaIcons" height="50" src="//miamioh.edu/stylesheets/images/icons/facebook-color.png" width="50" /></a></div>
                                                <div style="float: left; width: 25%;"><a class="leftImage" href="https://twitter.com/myaamiacenter" type="image"><img alt="Myaamia Center Twitter" class="footerSocialMediaIcons" height="48" src="//miamioh.edu/stylesheets/images/icons/twitter-color.png" width="60" /></a></div>
                                            </div>
                                            <hr class="dotted" />
                                            <p style="clear: both; font-size: 125%;">Popular Destinations</p>
                                            <ul class="arrowBullets">
                                                <li><a href="http://miamination.com/">Miami Tribe of Oklahoma</a></li>
                                                <li><a href="//miamioh.edu/miami-tribe-relations/index.html">Miami Tribe Relations</a></li>
                                                <li><a href="//miamioh.edu/diversity-inclusion/index.html">Diversity and Inclusion</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            
                        </section>
                        <div class="clearfix"> </div>
                    </div></div>
                    <div class="tertiaryFooter row">
                        <div class="copyright col-sm-12">
                            &#169;2019 Miami University. All rights reserved.
                        </div>
                        <ul class="primaryLinks col-sm-8 col-xs-12">
                            <li><a class="icon-arrow-box" href="http://blogs.miamioh.edu/miamipolicies/?p=145" target="_parent">Equal Opportunity</a></li>
                            <li><a class="icon-arrow-box" href="http://miamioh.edu/about-miami/pubs-policies/consumer-info/index.html" target="_parent">Family Consumer Information</a></li>
                            <li><a class="icon-arrow-box" href="http://miamioh.edu/it-services/accessmu/access-form/index.html" target="_parent">Report an Accessibility Issue</a></li>
                            <li><a class="icon-arrow-box" href="http://miamioh.edu/campus-safety/annual-report/index.html" target="_parent">Annual Security and Fire Safety Report</a></li>
                            <li><a class="icon-arrow-box" href="//miamioh.edu/includes/problem/index.html" target="_blank">Report a Problem With This Website</a></li>
                            <li><a class="icon-arrow-box" href="http://miamioh.edu/about-miami/pubs-policies/privacy-statement/index.html" target="_parent">Privacy Statement</a></li>
                        </ul>
                        <ul class="secondaryLinks col-sm-4 col-xs-12">
                            <li><a class="icon-arrow-box" href="http://miamioh.edu/jobs" target="_parent">Jobs and Careers at Miami</a></li>
                            <li><a class="icon-arrow-box" href="http://miamioh.edu/a-to-z/index.html" target="_parent">A to Z Listing</a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>